In [11]:
import pandas as pd
import limpeza as lp

In [12]:
dataframe = pd.read_csv("zomato.csv")

In [15]:
df1 = lp.Clean_code(dataframe)
df1.describe()

,restaurant_id,country_code,longitude,latitude,average_cost_for_two,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,votes
count,6.942000e+03,6942.000000,6942.000000,6942.000000,6.942000e+03,6942.000000,6942.000000,6942.000000,6942.0,6942.000000,6942.000000,6942.000000
mean,1.076193e+07,95.785941,31.441225,19.434945,7.506579e+03,0.060501,0.349755,0.174589,0.0,2.632383,4.126765,604.384039
std,7.037688e+06,99.299120,79.059108,23.499885,3.022515e+05,0.238430,0.476927,0.379643,0.0,0.966060,0.674754,1115.744044
min,5.490000e+02,1.000000,-122.700455,-41.330428,0.000000e+00,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000
25%,3.600075e+06,1.000000,-43.225469,12.902646,6.000000e+01,0.000000,0.000000,0.000000,0.0,2.000000,4.000000,150.000000
50%,7.900186e+06,30.000000,73.758624,25.270021,2.500000e+02,0.000000,0.000000,0.000000,0.0,3.000000,4.200000,328.000000
75%,1.714692e+07,215.000000,79.832568,32.749289,6.000000e+02,0.000000,1.000000,0.000000,0.0,3.000000,4.500000,649.000000
max,1.904028e+07,216.000000,175.310552,55.976980,2.500002e+07,1.000000,1.000000,1.000000,0.0,4.000000,4.900000,41333.000000

# Visao Geral

##  1. Quantos restaurantes unicos foram resgitrados ?

In [13]:
vl_uni = df1['restaurant_name'].nunique()
vl_uni

5914

## 2. Quantos paises unicos estao registrados?

In [14]:
vl_countries = df1['countries'].nunique()
vl_countries

15

## 3. Quantas cidades unicas estao registradas?

In [15]:
vl_city = df1['city'].nunique()
vl_city

125

## 4. Qual é o total de avaliações feitas?

In [19]:
vl_ranting = df1['aggregate_rating'].count()
vl_ranting

6942

## 5. Qual o total de tipos de culinaria registrados?

In [20]:
vl_type = df1['cuisines'].nunique()
vl_type

166

# Pais

## 1. Qual o nome do país que possui mais cidades registradas?

countries
India    3120
Name: count, dtype: int64

## 2. Qual o nome do país que possui mais restaurantes registrados?

## 3. Qual o nome do país que possui mais restaurantes com o nível de preço igual a 4 registrados?

## 4. Qual o nome do país que possui a maior quantidade de tipos de culinária distintos?

## 5. Qual o nome do país que possui a maior quantidade de avaliações feitas?

## 6. Qual o nome do país que possui a maior quantidade de restaurantes que fazem entrega?

## 7. Qual o nome do país que possui a maior quantidade de restaurantes que aceitam reservas?

## 8. Qual o nome do país que possui, na média, a maior quantidade de avaliações registrada?

## 9. Qual o nome do país que possui, na média, a maior nota média registrada?

## 10. Qual o nome do país que possui, na média, a menor nota média registrada?

## 11. Qual a média de preço de um prato para dois por país?