In [1]:
import pandas as pd
import inflection as ifn

# Colete os dados:

In [2]:
dataframe = pd.read_csv("zomato.csv")

In [7]:
def rename_columns(dataframe):
    df = dataframe.copy()
    title = lambda x: ifn.titleize(x)
    snakecase = lambda x: ifn.underscore(x)
    spaces = lambda x: x.replace(" ", "")
    cols_old = list(df.columns)
    cols_old = list(map(title, cols_old))
    cols_old = list(map(spaces, cols_old))
    cols_new = list(map(snakecase, cols_old))
    df.columns = cols_new
    return df

df = rename_columns(dataframe)

In [9]:
df1 = df.copy()

# Limpeza

## Existem colunas que podem ser removidas do DataFrame, por possuir somente 1 valor em todas as linhas?

In [11]:
df1.head()

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,...,currency,has_table_booking,has_online_delivery,is_delivering_now,switch_to_order_menu,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
1,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,Botswana Pula(P),1,0,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,Botswana Pula(P),0,0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,Botswana Pula(P),0,0,0,0,3,4.4,5BA829,Very Good,858

In [12]:
if df1['switch_to_order_menu'].nunique() == 1:
    # Remover a coluna
    df1 = df1.drop(columns=['switch_to_order_menu'])
    print("A coluna foi removida.")
else:
    print("A coluna não contém apenas um valor.")

A coluna foi removida.

In [13]:
if df1['currency'].nunique() == 1:
    # Remover a coluna
    df1 = df1.drop(columns=['Currency'])
    print("A coluna foi removida.")
else:
    print("A coluna não contém apenas um valor.")

A coluna não contém apenas um valor.

## Verifique se existem dados duplicados

In [14]:
# removendo e devolvendo o valor para o dataframe e vizualizando depois
df1 = df1.drop_duplicates()
df1

,restaurant_id,restaurant_name,country_code,city,address,locality,locality_verbose,longitude,latitude,cuisines,average_cost_for_two,currency,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,rating_color,rating_text,votes
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,1100,Botswana Pula(P),1,0,0,3,4.6,3F7E00,Excellent,619
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",3100,Botswana Pula(P),0,0,0,4,4.7,3F7E00,Excellent,469
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",800,Botswana Pula(P),0,0,0,3,4.4,5BA829,Very Good,867
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,700,Botswana Pula(P),0,0,0,3,4.4,5BA829,Very Good,858
5,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.020380,14.552351,Filipino,700,Botswana Pula(P),0,0,0,3,4.7,3F7E00,Excellent,930
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7522,5912546,Eataly,208,İstanbul,"Zorlu Center AVM, Köprü Katı, Levazım Mahalles...","Zorlu Center AVM, Levazım, Beşiktaş","Zorlu Center AVM, Levazım, Beşiktaş, İstanbul",29.017326,41.065322,"Italian, Pizza, Fresh Fish",300,Turkish Lira(TL),0,0,0,4,4.3,5BA829,Very Good,1367
7523,5913006,Tarihi Çınaraltı Aile Çay Bahçesi,208,İstanbul,"Çengelköy Mahallesi, Çınaraltı Camii Sokak, No...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052620,41.050280,"Fast Food, Izgara, Seafood, Tea, Coffee",45,Turkish Lira(TL),0,0,0,2,4.5,3F7E00,Excellent,1172
7524,5923535,Boon Cafe & Restaurant,208,İstanbul,"Çengelköy Mahallesi, Çengelköy Caddesi, Kara S...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052623,41.050717,Restaurant Cafe,140,Turkish Lira(TL),0,0,0,4,4.2,5BA829,Very Good,1160
7525,5914190,Kanaat Lokantası,208,İstanbul,"Sultantepe Mahallesi, Selmani Pak Caddesi, No ...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.016590,41.025741,"Home-made, Izgara",95,Turkish Lira(TL),0,0,0,3,4.0,5BA829,Very Good,770
7526,5913508,Katibim,208,İstanbul,"Mimar Sinan Mahallesi, Harem Sahilyolu, No 53,...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.010808,41.025501,"Restaurant Cafe, Kebab, Turkish Pizza",150,Turkish Lira(TL),0,0,0,4,4.2,5BA829,Very Good,1141

## verificando valores nulos de modo geral e por coluna

In [15]:
# investigação geral se tem valores nulos
vl_unicos = df1.isnull().sum()
vl_unicos

restaurant_id            0
restaurant_name          0
country_code             0
city                     0
address                  0
locality                 0
locality_verbose         0
longitude                0
latitude                 0
cuisines                13
average_cost_for_two     0
currency                 0
has_table_booking        0
has_online_delivery      0
is_delivering_now        0
price_range              0
aggregate_rating         0
rating_color             0
rating_text              0
votes                    0
dtype: int64

In [16]:
# investiquei todas as coluna uma por uma se a valor NAN 
vl_unicos = df1['cuisines'].isna().sum()
vl_unicos

13

In [18]:
# aqui eu removo o NAN dessa coluna
df1['cuisines'] = df1['cuisines'].fillna(0)

In [19]:
#vizualização se o NAN saiu
vl_unicos = df1['cuisines'].isna().sum()
vl_unicos

0

In [20]:
# adicionando a coluna Countries
COUNTRIES = {
    1: "India",
    14: "Australia",
    30: "Brazil",
    37: "Canada",
    94: "Indonesia",
    148: "New Zeland",
    162: "Philippines",
    166: "Qatar",
    184: "Singapure",
    189: "South Africa",
    191: "Sri Lanka",
    208: "Turkey",
    214: "United Arab Emirates",
    215: "England",
    216: "United States of America",
}
def country_name(country_id):
    return COUNTRIES[country_id]

df1['countries'] = df1['country_code'].apply(country_name)

In [21]:
# tipo de comida
def create_price_tye(price_range):
    if price_range == 1:
        return "cheap"
    elif price_range == 2:
        return "normal"
    elif price_range == 3:
        return "expensive"
    else:
        return "gourmet"
    
df1['type_food'] = df1['price_range'].apply(create_price_tye)

In [22]:
COLORS = {
    "3F7E00": "darkgreen",
    "5BA829": "green",
    "9ACD32": "lightgreen",
    "CDD614": "orange",
    "FFBA00": "red",
    "CBCBC8": "darkred",
    "FF7800": "darkred",
}
def color_name(color_code):
    return COLORS[color_code]

df1['color'] = df1['rating_color'].apply(color_name)

In [24]:
df1['cuisines'] = df1['cuisines'].astype(str)

In [25]:
df1["cuisines"] = df1.loc[:, "cuisines"].apply(lambda x: x.split(",")[0])

In [27]:
Dsc = df1.describe()
Dsc

,restaurant_id,country_code,longitude,latitude,average_cost_for_two,has_table_booking,has_online_delivery,is_delivering_now,price_range,aggregate_rating,votes
count,6.942000e+03,6942.000000,6942.000000,6942.000000,6.942000e+03,6942.000000,6942.000000,6942.000000,6942.000000,6942.000000,6942.000000
mean,1.076193e+07,95.785941,31.441225,19.434945,7.506579e+03,0.060501,0.349755,0.174589,2.632383,4.126765,604.384039
std,7.037688e+06,99.299120,79.059108,23.499885,3.022515e+05,0.238430,0.476927,0.379643,0.966060,0.674754,1115.744044
min,5.490000e+02,1.000000,-122.700455,-41.330428,0.000000e+00,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,3.600075e+06,1.000000,-43.225469,12.902646,6.000000e+01,0.000000,0.000000,0.000000,2.000000,4.000000,150.000000
50%,7.900186e+06,30.000000,73.758624,25.270021,2.500000e+02,0.000000,0.000000,0.000000,3.000000,4.200000,328.000000
75%,1.714692e+07,215.000000,79.832568,32.749289,6.000000e+02,0.000000,1.000000,0.000000,3.000000,4.500000,649.000000
max,1.904028e+07,216.000000,175.310552,55.976980,2.500002e+07,1.000000,1.000000,1.000000,4.000000,4.900000,41333.000000

In [50]:
df1

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Online delivery,Is delivering now,Price range,Aggregate rating,Rating color,Rating text,Votes,Color,Countries,Type_food
0,6310675,Mama Lou's Italian Kitchen,162,Las Piñas City,"Block 1, Lot 36, Tropical Avenue Corner Tropic...",BF International,"BF International, Las Piñas City",121.009787,14.447615,Italian,...,0,0,3,4.6,3F7E00,Excellent,619,darkgreen,Philippines,expensive
2,6314542,Blackbird,162,Makati City,"Nielson Tower, Ayala Triangle Gardens, Salcedo...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.024562,14.556042,"European, Asian",...,0,0,4,4.7,3F7E00,Excellent,469,darkgreen,Philippines,gourmet
3,6301293,Banapple,162,Makati City,"Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...","Ayala Triangle Gardens, Salcedo Village, Makat...",121.023171,14.556196,"Filipino, American, Italian, Bakery",...,0,0,3,4.4,5BA829,Very Good,867,green,Philippines,expensive
4,6315689,Bad Bird,162,Makati City,"Hole In The Wall, Floor 4, Century City Mall, ...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027708,14.565899,American,...,0,0,3,4.4,5BA829,Very Good,858,green,Philippines,expensive
5,6304833,Manam,162,Makati City,"Level 1, Greenbelt 2, Ayala Center, Greenbelt,...","Greenbelt 2, San Lorenzo, Makati City","Greenbelt 2, San Lorenzo, Makati City, Makati ...",121.020380,14.552351,Filipino,...,0,0,3,4.7,3F7E00,Excellent,930,darkgreen,Philippines,expensive
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7522,5912546,Eataly,208,İstanbul,"Zorlu Center AVM, Köprü Katı, Levazım Mahalles...","Zorlu Center AVM, Levazım, Beşiktaş","Zorlu Center AVM, Levazım, Beşiktaş, İstanbul",29.017326,41.065322,"Italian, Pizza, Fresh Fish",...,0,0,4,4.3,5BA829,Very Good,1367,green,Turkey,gourmet
7523,5913006,Tarihi Çınaraltı Aile Çay Bahçesi,208,İstanbul,"Çengelköy Mahallesi, Çınaraltı Camii Sokak, No...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052620,41.050280,"Fast Food, Izgara, Seafood, Tea, Coffee",...,0,0,2,4.5,3F7E00,Excellent,1172,darkgreen,Turkey,normal
7524,5923535,Boon Cafe & Restaurant,208,İstanbul,"Çengelköy Mahallesi, Çengelköy Caddesi, Kara S...",Çengelköy Merkez,"Çengelköy Merkez, İstanbul",29.052623,41.050717,Restaurant Cafe,...,0,0,4,4.2,5BA829,Very Good,1160,green,Turkey,gourmet
7525,5914190,Kanaat Lokantası,208,İstanbul,"Sultantepe Mahallesi, Selmani Pak Caddesi, No ...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.016590,41.025741,"Home-made, Izgara",...,0,0,3,4.0,5BA829,Very Good,770,green,Turkey,expensive
7526,5913508,Katibim,208,İstanbul,"Mimar Sinan Mahallesi, Harem Sahilyolu, No 53,...",Üsküdar Merkez,"Üsküdar Merkez, İstanbul",29.010808,41.025501,"Restaurant Cafe, Kebab, Turkish Pizza",...,0,0,4,4.2,5BA829,Very Good,1141,green,Turkey,gourmet